<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>String-Vergleich</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-item>
    <ion-label position="fixed">String 1</ion-label>
    <ion-input clearInput type="text"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="fixed">String 2</ion-label>
    <ion-input clearInput type="text"></ion-input>
  </ion-item>

  &nbsp;

  <ion-button expand="block">Vergleichen!</ion-button>

  &nbsp;

</ion-content>